*{
    padding:0px;
    margin:0px;
}

#addcart{
    display:flex;
    height:1000px;
    width:100%;
    /* border:1px solid blue; */
}
#addcart>div{
    height:100%;
    width:50%;
    /* border:1px solid pink; */
}
#addcart>div:nth-child(1){
    background-color:white;
    width:58%;
}

#addcart>div:nth-child(2){
    background-color:rgb(214, 248, 214);
    width:42%;
}
.logo{
    height:70px;
    width:500px;
    /* border:1px solid ; */
    margin: 30px 20px 0px 0px;
}
.logo>img{
    height:100%;
    
}
.btn{
    /* margin-left:200px; */
    height:30px;
    width:300px;
    /* border:1px solid ; */
}
/* button{
    width:80px;
    background-color: white;
    font-size: 13px;
    border:none; */
/* } */
.info{
    height:30px;
    width:100%;
    /* border:1px solid black; */
    display:flex;justify-content: space-between;
    /* margin-left:200px; */
}
.main{
    height:800px;
    width:640px;
    /* border:1px solid blue; */
    margin-left:200px;
}
.info>p,span{
    margin-top:5px;
}
input{
    width:100%;
    height:40px;
    margin-top:10px;
}
.check{
    height:40px;
    width:100%;
    /* border:1px solid ; */
    display:flex;
    /* justify-content:space-evenly; */
}
.check>div:nth-child(1){
    width:50px;
    height:90%;
  
 

}

.check>div:nth-child(2){
    width:280px;
    height:100%;
   
}

.check>div>p{
    margin-top:15px;
}

.avail{
    margin-top:5px;
    width:100%;
    height:40px;
    border-radius: 10px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ship{
    margin-top:7px;
}
.pay{
    width:100%;
    height:40px;
    background-color: rgb(56, 56, 237);
    margin-top:12px;
    border-radius: 5px;
}
input{
    border-radius:5px;
    border-color: aliceblue;
}
input:hover{
    background-color: rgb(247, 128, 128);
}
.come{
    height:300px;
    width:400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin:auto;
    margin-top:150px;
   
}
.fine:hover{
    background-color:red;
    color:black;
    font-size:15px;
}
.fine{
    height:30px;
    width:100%;
    background-color: antiquewhite;
    font-size: large;
}