/* -----navbar starts===== */

*{
    padding:0px;
    margin:0px;
}
#navbar{
  display:flex;
  height:80px;
  width:100%;
  background-color:whitesmoke;
  /* position: fixed; */
}
/* #navbar>div{
    
    border:1px solid red;
} */
body{
    background-color:white;
}
.left{
    width:15%;
    background-color: whitesmoke;
    /* border:1px solid red; */
   
}
.mid{
    width:65%;
    display:flex;
    justify-content: space-evenly;
} 
.right{
    width:20%;
    display:flex;
    justify-content: space-evenly;
    /* margin-left:30px; */
}
a{
    text-decoration:none;
    cursor:pointer;
    color:black;
}
#logo{
    height:80px;
    width:100%;
    cursor:pointer;
    background-color:none;
}
#navbar>div>p{
    margin-top:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
h1{
    text-align:center;
    margin-top:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#btn{
    height:50px;
    width:640px;
    /* border:1px solid black; */
    display:flex;
    margin:auto;
    margin-top:30px;

}
/* .facebokk>div{
    height:100%;
    width:50px;
    border:1px solid teal;
} */
#btn>div>a>img{
    height:100%;
    width:50%;
    border-radius:20px;
    /* background-color: rgb(29, 29, 118); */
}
#btn>div>a{
    height:40px;
    width:200px;
    /* border:1px solid red; */
    margin:auto;
    border-radius:40px;
    /* background-color: rgb(29, 29, 118); */
}

h3{
   margin-top:10px;
   text-align:center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:grey;
}
p{
    /* color:grey; */
    text-align: center;
    margin-top:50px;
}
#btn>div>a>img{
    width:40%;
    height:99%;
    background-color: rgb(73, 73, 133);
    border-radius:50%;
    border:none;

}

.facebook>a{
    justify-content:space-between;
    /* align-items: flex-end; */
    display:flex;
    background-color: rgb(59, 89, 152);
  
}
#btn>div>a>img+h3{
    color:white;
    margin-bottom:60px;
    margin-right:17px;
}
.google>a{
    justify-content:space-between;
    /* align-items: flex-end; */
    display:flex;
    background-color: rgb(66, 133, 244);
}
.twitter>a{
    justify-content:space-between;
    /* align-items: flex-end; */
    display:flex;
    background-color: rgb(0, 172, 237);
}
input{
    display:block;
    margin:auto;
    width:30%;
    /* margin-bottom:17px; */
    height:45px;
    border-radius:20px;
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:7px;
}
.create{
    margin-top:10px;
}
